{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIE - {{ title }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        @import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

        .SpoqaHanSans {
            font-family: "Spoqa Han Sans Neo", "sans-serif";
        }
    </style>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>